<div class="widget tag">
<h3 class="title">Blogroll</h3>
<ul class="entry">
<li><a href="http://dumbear.com/blog/" target="_blank" title="Dumbear">Dumbear</a></li>
<li><a href="http://eyelidstl.lofter.com/" target="_blank" title="Eyelids">Eyelids</a></li>
<li><a href="http://vawait.com/" target="_blank" title="vawait">vawait</a></li>
<li><a href="http://Nero.farbox.com/" target="_blank" title="Nero">Nero</a></li>
<li><a href="http://www.gatevin.moe/" target="_blank" title="Gatevin">Gatevin</a></li>
<li><a href="http://plumrain.org/" target="_blank" title="Old Blog">My Second Blog</a></li>
<li><a href="http://www.cnblogs.com/plumrain/" target="_blank" title="Old Blog">My First Blog</a></li>
</ul>
</div>
