<div class="widget tag">
<h3 class="title">Music</h3>
<ul class="entry">
<embed src="http://www.xiami.com/widget/45570228_1772890377,3337745,3588276,1771969082,1771265605,1773696850,_235_346_5695c1_457cb4_0/multiPlayer.swf" type="application/x-shockwave-flash" width="235" height="346" wmode="opaque"></embed>
</ul>
</div>